:root {
	--clr-tag: rgb(26, 188, 156);
	--clr-taghovered: rgb(22, 160, 133);
	--clr-add: rgb(189, 195, 199);
	--clr-addhovered: darkgrey;
	--ff-body: "Rubik", sans-serif;
	--fs-lg-body: 2rem;
	--fs-med-body: 1.5rem;
	--fs-regular-body: 1rem;
	--fs-small-body: 0.5rem;
}
